@media (max-width: 320px) {


#container{

  max-width: 320px;
  min-width: 320px;
  margin: 0;
  padding: 0.5em;
  font-size: 10px;
}

#container1{

  align-items: center;
  max-width: 320px;
  min-width: 320px;
  margin: 0;
  padding: 0.5em;
  font-size: 10px;
}

#mobile{
  display: block;
}

.videos{
  display: none;
}

#enter{
  display: none;
}

nav li:first-child{
  border-right: 1px solid white;
  padding-right: 10px;
  padding-left: 5px;
}

nav li{
  display: inline-block;
  margin-right: 10px;
}







#index{
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}
}
