@media (max-width: 320px) {

#container1{
  align-items: center;
  max-width: 320px;
  min-width: 320px;
  margin: 0;
  font-size: 10px;

}

body{
  padding: 0;
  margin: 0;
}

#mobile{
  display: block;
}

.videos{
  display: none;
}

#enter{
  display: none;
}

p{
  margin-bottom: 15px;
}

address{
  padding-left: 50px;
  font-size: 20px;
  text-align: left;
}

#index{
  font-size: 45px;
  margin-bottom: 10px;
  text-align: center;
}
}
