

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700');
/*All pages*/
.nav{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

#container{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 960px;
  min-width: 960px;
  padding: 5px;
  margin: 0 auto;
}

nav{
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #22313F;
  z-index: 10;
}

nav ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  color: #3498DB;
}

nav li:first-child{
  border-right: 1px solid white;
  padding-right: 30px;
  padding-left: 10px;
}


nav li{
  display: inline-block;
  margin-right: 20px;
}

/*makes nav elements pop when highlighted*/
.zoom{
  transform: scale(1);
  position: relative;
  transition: all 0.25s ease-in;
}

.zoom:hover{
  transform: scale(1.3);
  z-index: 10;
  transition: all 0.25s ease-in;
}

header{
  margin-top: 50px;
}

body{
  background: url("../img/gradient_squares.png") repeat;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #FF6A5C;
}

h2{
  margin-top: 5px;
  margin-bottom: 10px;
  color: #3498DB;
}

h3{

  margin: 5px 0 15px 2px;
  margin-left: 0;
}

p{
  margin: 5px 0 5px 0;
}

#mobile {
  display: none;
}

/*Index.html*/
/*tag for H1*/
#index{
text-align: center;
margin-bottom: 200px;
font-size: 128px;
font-family: 'Vollkorn', serif;
font-weight: 400;
}
/*Enter Button on Index.html*/
.entrance{
  display: block;
  border: 2px solid #3498DB;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  transition: opacity 0.3s ease-in;
  background: #3498DB;
  font-weight: bold;
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
}

.entrance:hover{
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
}

/*Spacing for the paragraphs in Blog.html*/
.blog{
  margin-bottom: 10px;
}

a{
  text-decoration: none;
}

a:active{

}

a:visited{

}

a:hover{
  text-decoration: underline;
}

#about-main{
  position: relative;
}

#about-text{
  float: left;
  width: 480px;
  position: relative;
  border-bottom: 0;
  overflow: auto;
}

#about-text p{
  margin-bottom: 20px;
}

#about-picture{
  float: right;
  overflow: auto;
}

/*blog.html removes bottom border */
#last-section{
  border-bottom: 0;
}


/*Resume.html specific css */
#resume{
  padding: 2px;
  position: relative;
  height: 250px;
}

img{
  border: 1px solid #222;
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}


article{
  padding-left: 0px;
  padding-bottom: 10px;
  position: relative;
  margin: 1px 0 1px 0;
}

#shadowing-and-medical-experiences{
  border-bottom: 0;
}

section{
  border: 2px dotted #222;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.date{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-style: italic;
}

/*Video.html specific css */
iframe{
  border: 1px solid black;
}
