@import @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Raleway:400,800');
/*All pages*/
.nav{
  text-decoration: none;
  color: white;
  font-size: 16px;
}



/*Index.html*/
/*tag for H1*/
#index{
text-align: center;
margin-bottom: 200px;
font-size: 128px;

}
/*tag for link*/
#enter{
  display: block;
  border: 1px solid black;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.entrance{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

body{
  /*background-color: #d4e0f7;*/
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}
#container1{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 960px;
  min-width: 450px;
  padding: 5px;
  margin: 0 auto;
}






#container{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 960px;
  min-width: 750px;
  padding: 5px;
  margin: 0 auto;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

a{
  text-decoration: none;

}

a:active{

}

a:visited{

}

a:hover{
  text-decoration: underline;
}

header{
  margin-top: 50px;
}

nav{

  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #22313F;
  z-index: 10;
}

nav ul{

  margin: 0;
  list-style: none;
  padding-left: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  color: #3498DB;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}

article{
  border: 1px solid #222;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-style: solid;
  padding-left: 6px;
  padding-bottom: 10px;
  position: relative;
  margin: 1px 0 1px 0;
}

.date{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  /*padding: 18px 10px 0px 0px;*/
  font-style: italic;
}


#resume{
  padding: 2px;
  position: relative;
  height: 250px;
}

  img{
    border: 1px solid #222;
    border-style: solid;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
  }
