@import @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Raleway:400,800');

body{
  background-color: #d4e0f7
}

#container{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 960px;
  min-width: 750px;
  padding: 5px;
  margin: 0 auto;


}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;

}

a{
  text-decoration: none;
}

a:active{

}

a:visited{

}

a:hover{
  text-decoration: underline;
}

header{
  margin-top: 50px;
}

nav{
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background: #b6c3db;


}

nav ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}
