* {
  background: transparent !important;
  color: black;
  font-family: serif;
  font-size: 11pt;
}

@page{
  margin: 0.5in;
}

img{
  display: none;
  position: relative;
}


nav{
  display: none;
  z-index: -2;

}


h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

h2{
  margin-top: 5px;
  margin-bottom: 10px;
  color: #22313F;
}

h3{
  margin: 5px 0 2px 2px;
  margin-left: 0;
}

p{
  margin: 5px 0 5px 0;
}
article{

  position:relative;

}

.date{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  /*padding: 18px 10px 0px 0px;*/
  font-style: italic;
}

section{
  border: 2px dotted #222;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

img{
  border: 1px solid #222;
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
