@import url('https://fonts.googleapis.com/css?family=Francois+One|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
/*this puts the background color */
body{
background-color: #6d3136;
}

#container{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 960px;
  min-width: 750px;
  padding: 5px;
  margin: 0 auto;
  background-color: #d8cdcd;
  border: 3px solid gray;
  border-style: solid;
}

a{
  color: blue;
  text-decoration: none;
}

a:visited{
  color: purple;
}

a:active{
  color: red;
}

a:hover{
  color: #ba761d;
}

header{
  padding: 2px;
  position: relative;
  height: 250px;
}

img{
  border: 1px solid #222;
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

p{
  padding-left: 4px;
  padding-right: 10px;
  margin: 0;
  line-height: 1.5;
}

h1, h2{
  font-family: 'Bitter', serif;
  font-size: 32px;
  font-weight: 700;
  color: #3d0303;
}

h2{
  margin: 12px 5px;
}

/* This is code to add images as bullets and access specific hrefs
a[href*="facebook"]{
  background-image: url("etc");
}
*/
nav{
    border: 1px solid #222;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    z-index: 10;

    padding: 10px;
}

nav ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li{
  display: inline-block;
  margin-right: 15px;
}

nav a{
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav li:after{
  content: " \00a0\00a0| ";
}

nav li:last-child:after{
  content:" ";
}

article{
  border: 1px solid #222;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  padding-left: 6px;
  padding-bottom: 10px;
  position: relative;
  margin: 1px 0 1px 0;
}

.date{
  position: absolute;
  top: 0;
  right: 0;
  /*padding: 18px 10px 0px 0px;*/
  font-style: italic;
}
