@import url('https://fonts.googleapis.com/css?family=Francois+One|Roboto:400,700');

/*this puts the background color */
body{
background-color: #ceaa6d;
  /*#e8edf2*/
}

#container{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 960px;
  min-width: 750px;
  padding: 5px;
  margin: 0 auto;
  background-color: white;
  border: 3px solid gray;
  border-style: solid;
}

a{
  color: blue;
}

a:visited{
  color: purple;
}

a:active{
  color: red;
}

a:hover{
  color: green;
}

header{
  padding: 2px;
  position: relative;
  height: 250px;
}

img{
  border: 1px solid #222;
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;


}

p{
  padding-left: 4px;
}

h2{
text-align: center;
}

h1, h2{

  font-family: "Francious One", sans-serif;
  font-weight: 700;
}

nav{
    border: 1px solid #222;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    z-index: 10;
}

article{
  border: 1px solid #222;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  padding-left: 6px;
  position:relative;
  margin: 1px 0 1px 0;
}

#date{
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px 8px 0px 0px;
  font-style: italic;
}
